include LICENSE
include README.md
include pyproject.toml
include jupyter-config/jupyterlab-unfold.json

include package.json
include install.json
include ts*.json
include yarn.lock

images/screenshot.png
environment.yml

graft jupyterlab-unfold/labextension

# Javascript files
graft src
graft style
include schema/jupyterlab-unfold-settings.json
prune **/node_modules
prune lib
prune binder

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
